alembic==1.5.8
aniso8601 @ file:///home/conda/feedstock_root/build_artifacts/aniso8601_1613958697960/work
certifi==2020.12.5
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
Flask-RESTful==0.3.8
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
greenlet==1.0.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1615900448710/work
itsdangerous @ file:///home/ktietz/src/ci/itsdangerous_1611932585308/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1612213139570/work
Mako==1.1.4
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1607027305082/work
psycopg2==2.8.6
python-dateutil==2.8.1
python-editor==1.0.4
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
SQLAlchemy @ file:///tmp/build/80754af9/sqlalchemy_1617208251747/work
Werkzeug @ file:///home/ktietz/src/ci/werkzeug_1611932622770/work
zipp @ file:///tmp/build/80754af9/zipp_1615904174917/work
